@media(max-width: 1024px) {
    .container {
        padding: 20px;
    }

    .container h1 {
        text-align: center;
    }

    .container .filtros {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .container .filtros .categoria-cartas,
    .container .filtros .preco-cartas,
    .container .filtros .ordernar-cartas,
    .container .filtros .btn-filtrar,
    .container .filtros .btn-limpar {
        width: 65%;
    }

    .container .filtros .btn-filtrar {
        align-self: center;
    }

    .container .filtros .btn-limpar {
        align-self: center;
    }

    .container .filtros .ordenar-cartasa {
        align-self: center;
    }

    .container .cartas {
        justify-content: center;
    }
}

@media(max-width: 480px) {
    .container .filtros .categoria-cartas,
    .container .filtros .preco-cartas,
    .container .filtros .ordenar-cartas,
    .container .filtros .btn-filtrar,
    .container .filtros .btn-limpar {
        width: 100%;
    }
}